# Importing Libs and Dataset

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd
from scipy.stats import mannwhitneyu
from scipy.stats import chi2_contingency
from scipy.stats import wilcoxon
from scipy.stats import spearmanr
from scipy.stats import kruskal
from scipy.stats import friedmanchisquare

In [3]:
df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/BankChurners.csv')
df

,CLIENTNUM,Attrition_Flag,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,...,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2
0,768805383,Existing Customer,45,M,3,High School,Married,$60K - $80K,Blue,39,...,12691.0,777,11914.0,1.335,1144,42,1.625,0.061,0.000093,0.999910
1,818770008,Existing Customer,49,F,5,Graduate,Single,Less than $40K,Blue,44,...,8256.0,864,7392.0,1.541,1291,33,3.714,0.105,0.000057,0.999940
2,713982108,Existing Customer,51,M,3,Graduate,Married,$80K - $120K,Blue,36,...,3418.0,0,3418.0,2.594,1887,20,2.333,0.000,0.000021,0.999980
3,769911858,Existing Customer,40,F,4,High School,Unknown,Less than $40K,Blue,34,...,3313.0,2517,796.0,1.405,1171,20,2.333,0.760,0.000134,0.999870
4,709106358,Existing Customer,40,M,3,Uneducated,Married,$60K - $80K,Blue,21,...,4716.0,0,4716.0,2.175,816,28,2.500,0.000,0.000022,0.999980
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10122,772366833,Existing Customer,50,M,2,Graduate,Single,$40K - $60K,Blue,40,...,4003.0,1851,2152.0,0.703,15476,117,0.857,0.462,0.000191,0.999810
10123,710638233,Attrited Customer,41,M,2,Unknown,Divorced,$40K - $60K,Blue,25,...,4277.0,2186,2091.0,0.804,8764,69,0.683,0.511,0.995270,0.004729
10124,716506083,Attrited Customer,44,F,1,High School,Married,Less than $40K,Blue,36,...,5409.0,0,5409.0,0.819,10291,60,0.818,0.000,0.997880,0.002118
10125,717406983,Attrited Customer,30,M,2,Graduate,Unknown,$40K - $60K,Blue,36,...,5281.0,0,5281.0,0.535,8395,62,0.722,0.000,0.996710,0.003294
10126,714337233,Attrited Customer,43,F,2,Graduate,Married,Less than $40K,Silver,25,...,10388.0,1961,8427.0,0.703,10294,61,0.649,0.189,0.996620,0.003377

In [4]:
#Cleaning from missing datas
df.dropna()
df.dropna(axis=1)
df.dropna(axis=0)
df.head()

,CLIENTNUM,Attrition_Flag,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,...,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2
0,768805383,Existing Customer,45,M,3,High School,Married,$60K - $80K,Blue,39,...,12691.0,777,11914.0,1.335,1144,42,1.625,0.061,0.000093,0.99991
1,818770008,Existing Customer,49,F,5,Graduate,Single,Less than $40K,Blue,44,...,8256.0,864,7392.0,1.541,1291,33,3.714,0.105,0.000057,0.99994
2,713982108,Existing Customer,51,M,3,Graduate,Married,$80K - $120K,Blue,36,...,3418.0,0,3418.0,2.594,1887,20,2.333,0.000,0.000021,0.99998
3,769911858,Existing Customer,40,F,4,High School,Unknown,Less than $40K,Blue,34,...,3313.0,2517,796.0,1.405,1171,20,2.333,0.760,0.000134,0.99987
4,709106358,Existing Customer,40,M,3,Uneducated,Married,$60K - $80K,Blue,21,...,4716.0,0,4716.0,2.175,816,28,2.500,0.000,0.000022,0.99998

# Mann-Whitney U Test

## Hypothesis


There is a significant difference in the "Credit_Limit" between customers who have churned ("Attrition_Flag" equals "Attrited Customer") and those who have not ("Attrition_Flag" equals "Existing Customer").

In [5]:
# Filter data for existing and attrited customers
existing_customers = df[df['Attrition_Flag'] == 'Existing Customer']
attrited_customers = df[df['Attrition_Flag'] == 'Attrited Customer']
print(existing_customers)
print(attrited_customers)

       CLIENTNUM     Attrition_Flag  Customer_Age Gender  Dependent_count  \
0      768805383  Existing Customer            45      M                3
1      818770008  Existing Customer            49      F                5
2      713982108  Existing Customer            51      M                3
3      769911858  Existing Customer            40      F                4
4      709106358  Existing Customer            40      M                3
...          ...                ...           ...    ...              ...
10116  714109308  Existing Customer            46      M                5
10117  712503408  Existing Customer            57      M                2
10120  710841183  Existing Customer            54      M                1
10121  713899383  Existing Customer            56      F                1
10122  772366833  Existing Customer            50      M                2

      Education_Level Marital_Status Income_Category Card_Category  \
0         High School        Married     $60K - $80K          Blue
1            Graduate         Single  Less than $40K          Blue
2            Graduate        Married    $80K - $120K          Blue
3         High School        Unknown  Less than $40K          Blue
4          Uneducated        Married     $60K - $80K          Blue
...               ...            ...             ...           ...
10116         College         Single    $80K - $120K          Blue
10117        Graduate        Married    $80K - $120K          Blue
10120     High School         Single     $60K - $80K          Blue
10121        Graduate         Single  Less than $40K          Blue
10122        Graduate         Single     $40K - $60K          Blue

       Months_on_book  ...  Credit_Limit  Total_Revolving_Bal  \
0                  39  ...       12691.0                  777
1                  44  ...        8256.0                  864
2                  36  ...        3418.0                    0
3                  34  ...        3313.0                 2517
4                  21  ...        4716.0                    0
...               ...  ...           ...                  ...
10116              36  ...       13187.0                 2241
10117              40  ...       17925.0                 1909
10120              34  ...       13940.0                 2109
10121              50  ...        3688.0                  606
10122              40  ...        4003.0                 1851

       Avg_Open_To_Buy  Total_Amt_Chng_Q4_Q1  Total_Trans_Amt  Total_Trans_Ct  \
0              11914.0                 1.335             1144              42
1               7392.0                 1.541             1291              33
2               3418.0                 2.594             1887              20
3                796.0                 1.405             1171              20
4               4716.0                 2.175              816              28
...                ...                   ...              ...             ...
10116          10946.0                 0.689            15354             112
10117          16016.0                 0.712            17498             111
10120          11831.0                 0.660            15577             114
10121           3082.0                 0.570            14596             120
10122           2152.0                 0.703            15476             117

       Total_Ct_Chng_Q4_Q1  Avg_Utilization_Ratio  \
0                    1.625                  0.061
1                    3.714                  0.105
2                    2.333                  0.000
3                    2.333                  0.760
4                    2.500                  0.000
...                    ...                    ...
10116                0.931                  0.170
10117                0.820                  0.106
10120                0.754                  0.151
10121                0.791                  0.164
10122                0.857                  0.462

       Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1  \
0                                               0.000093
1                                               0.000057
2                                               0.000021
3                                               0.000134
4                                               0.000022
...                                                  ...
10116                                           0.000192
10117                                           0.000516
10120                                           0.000038
10121                                           0.000148
10122                                           0.000191

       Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2
0                                                0.99991
1                                                0.99994
2                                                0.99998
3                                                0.99987
4                                                0.99998
...                                                  ...
10116                                            0.99981
10117                                            0.99948
10120                                            0.99996
10121                                            0.99985
10122                                            0.99981

[8500 rows x 23 columns]
       CLIENTNUM     Attrition_Flag  Customer_Age Gender  Dependent_count  \
21     708508758  Attrited Customer            62      F                0
39     708300483  Attrited Customer            66      F                0
51     779471883  Attrited Customer            54      F                1
54     714374133  Attrited Customer            56      M                2
61     712030833  Attrited Customer            48      M                2
...          ...                ...           ...    ...              ...
10119  716893683  Attrited Customer            55      F                3
10123  710638233  Attrited Customer            41      M                2
10124  716506083  Attrited Customer            44      F                1
10125  717406983  Attrited Customer            30      M                2
10126  714337233  Attrited Customer            43      F                2

      Education_Level Marital_Status Income_Category Card_Category  \
21           Graduate        Married  Less than $40K          Blue
39          Doctorate        Married         Unknown          Blue
51           Graduate        Married  Less than $40K          Blue
54           Graduate        Married         $120K +          Blue
61           Graduate        Married     $60K - $80K        Silver
...               ...            ...             ...           ...
10119      Uneducated         Single         Unknown          Blue
10123         Unknown       Divorced     $40K - $60K          Blue
10124     High School        Married  Less than $40K          Blue
10125        Graduate        Unknown     $40K - $60K          Blue
10126        Graduate        Married  Less than $40K        Silver

       Months_on_book  ...  Credit_Limit  Total_Revolving_Bal  \
21                 49  ...        1438.3                    0
39                 56  ...        7882.0                  605
51                 40  ...        1438.3                  808
54                 36  ...       15769.0                    0
61                 35  ...       34516.0                    0
...               ...  ...           ...                  ...
10119              47  ...       14657.0                 2517
10123              25  ...        4277.0                 2186
10124              36  ...        5409.0                    0
10125              36  ...        5281.0                    0
10126              25  ...       10388.0                 1961

       Avg_Open_To_Buy  Total_Amt_Chng_Q4_Q1  Total_Trans_Amt  Total_Trans_Ct  \
21              1438.3                 1.047              692              16
39              7277.0                 1.052              704              16
51               630.3                 0.997              705              19
54             15769.0                 1.041              602              15
61             34516.0                 0.763              691              15
...                ...                   ...              ...             ...
10119          12140.0                 0.166             6009              53
10123           2091.0                 0.804             8764              69
10124           5409.0                 0.819            10291              60
10125           5281.0                 0.535             8395              62
10126           8427.0                 0.703            10294              61

       Total_Ct_Chng_Q4_Q1  Avg_Utilization_Ratio  \
21                   0.600                  0.000
39                   0.143                  0.077
51                   0.900                  0.562
54                   0.364                  0.000
61                   0.500                  0.000
...                    ...                    ...
10119                0.514                  0.172
10123                0.683                  0.511
10124                0.818                  0.000
10125                0.722                  0.000
10126                0.649                  0.189

       Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1  \
21                                               0.99616
39                                               0.99780
51                                               0.99028
54                                               0.99671
61                                               0.99823
...                                                  ...
10119                                            0.99691
10123                                            0.99527
10124                                            0.99788
10125                                            0.99671
10126                                            0.99662

       Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2
21                                              0.003836
39                                              0.002197
51                                              0.009720
54                                              0.003294
61                                              0.001771
...                                                  ...
10119                                           0.003088
10123                                           0.004729
10124                                           0.002118
10125                                           0.003294
10126                                           0.003377

[1627 rows x 23 columns]

In [6]:
# Perform Mann-Whitney U test
statistic, p_value = mannwhitneyu(existing_customers['Credit_Limit'], attrited_customers['Credit_Limit'])

In [7]:
# Print the results
print(f"Mann-Whitney U Statistic: {statistic}")
print(f"P-value: {p_value}")

Mann-Whitney U Statistic: 7468152.0
P-value: 3.0078405911217964e-07

In [8]:
# Interpret the results
alpha = 0.05
if p_value < alpha:
    print("The null hypothesis is rejected. There is a significant difference in Credit Limit between existing and attrited customers.")
else:
    print("The null hypothesis is not rejected. There is no significant difference in Credit Limit between existing and attrited customers.")

The null hypothesis is rejected. There is a significant difference in Credit Limit between existing and attrited customers.

# Chi-Square Test

## Hypothesis


There's a significant association between the "Attrition_Flag" (churn status) and another categorical variable, such as "Gender."

In [9]:
# Create a contingency table
contingency_table = pd.crosstab(df['Attrition_Flag'], df['Gender'])
print(contingency_table)

Gender                F     M
Attrition_Flag
Attrited Customer   930   697
Existing Customer  4428  4072

In [10]:
# Perform the chi-square test
chi2, p_value, _, _ = chi2_contingency(contingency_table)

In [11]:
# Print the results
print(f"Chi-square statistic: {chi2}")
print(f"P-value: {p_value}")

Chi-square statistic: 13.865613700637342
P-value: 0.00019635846717310269

In [12]:
# Interpret the results
alpha = 0.05
if p_value < alpha:
    print("The null hypothesis is rejected. There is a significant association between Attrition_Flag and Gender.")
else:
    print("The null hypothesis is not rejected. There is no significant association between Attrition_Flag and Gender.")

The null hypothesis is rejected. There is a significant association between Attrition_Flag and Gender.

# Wilcoxon Signed-Rank Test

## Hypothesis

Compare the "Credit_Limit" of customers before and after a certain event.

In [13]:
#Select a random subset of customers
subset_customers = df.sample(n=100, random_state=42)

In [14]:
# Create a new column for the hypothetical "Credit_Limit_After_Event"
subset_customers['Credit_Limit_After_Event'] = subset_customers['Credit_Limit'] * 0.9  # Assuming a 10% decrease
print(subset_customers['Credit_Limit_After_Event'])

3781    2691.90
2922    1972.80
5070    1560.60
7246    4307.40
623     3342.60
         ...
6798    1294.47
8359    1402.20
510     2037.60
5790    5238.90
7269    1747.80
Name: Credit_Limit_After_Event, Length: 100, dtype: float64

In [15]:
# Perform the Wilcoxon signed-rank test
statistic, p_value = wilcoxon(subset_customers['Credit_Limit'], subset_customers['Credit_Limit_After_Event'])

In [16]:
# Print the results
print(f"Wilcoxon signed-rank statistic: {statistic}")
print(f"P-value: {p_value}")

Wilcoxon signed-rank statistic: 0.0
P-value: 3.8844878745066815e-18

In [17]:
# Interpret the results
alpha = 0.05
if p_value < alpha:
    print("The null hypothesis is rejected. There is a significant difference in Credit_Limit before and after the event.")
else:
    print("The null hypothesis is not rejected. There is no significant difference in Credit_Limit before and after the event.")

The null hypothesis is rejected. There is a significant difference in Credit_Limit before and after the event.

# Additional Non-Parametric Tests

# Spearman's Rank Correlation

## Hypothesis

Investigating the relationship between "Customer_Age" and "Total_Trans_Amt"

In [18]:
# Calculate Spearman's correlation coefficient
rho, p_value = spearmanr(df['Customer_Age'], df['Total_Trans_Amt'])
print(df['Customer_Age'], df['Total_Trans_Amt'])

0        45
1        49
2        51
3        40
4        40
         ..
10122    50
10123    41
10124    44
10125    30
10126    43
Name: Customer_Age, Length: 10127, dtype: int64 0         1144
1         1291
2         1887
3         1171
4          816
         ...
10122    15476
10123     8764
10124    10291
10125     8395
10126    10294
Name: Total_Trans_Amt, Length: 10127, dtype: int64

In [19]:
# Print the results
print(f"Spearman's correlation coefficient (rho): {rho}")
print(f"P-value: {p_value}")

Spearman's correlation coefficient (rho): -0.038725952145430474
P-value: 9.69545068374402e-05

In [20]:
# Interpret the results
alpha = 0.05
if p_value < alpha:
    print("The null hypothesis is rejected. There is a significant correlation between Customer_Age and Total_Trans_Amt.")
else:
    print("The null hypothesis is not rejected. There is no significant correlation between Customer_Age and Total_Trans_Amt.")

The null hypothesis is rejected. There is a significant correlation between Customer_Age and Total_Trans_Amt.

# Kruskal-Wallis Test

## Hypothesis

There are significant differences in the "Total_Trans_Amt" among different income categories ("Income_Category").

In [21]:
# Subset of the data
subset_data = df[['Income_Category', 'Total_Trans_Amt']]
#print(subset_data)
gk = subset_data.groupby('Income_Category')
gk.head()

   Income_Category  Total_Trans_Amt
0      $60K - $80K             1144
1   Less than $40K             1291
2     $80K - $120K             1887
3   Less than $40K             1171
4      $60K - $80K              816
5      $40K - $60K             1088
6          $120K +             1330
7      $60K - $80K             1538
8      $60K - $80K             1350
9     $80K - $120K             1441
10         $120K +             1201
11     $40K - $60K             1314
12    $80K - $120K             1539
13     $60K - $80K             1311
14  Less than $40K             1570
15    $80K - $120K             1348
16    $80K - $120K             1671
18     $40K - $60K             1336
19         Unknown             1207
21  Less than $40K              692
22     $40K - $60K              931
23  Less than $40K             1126
26     $40K - $60K             1197
28         Unknown             1052
39         Unknown              704
44         Unknown             1042
53         $120K +             1414
54         $120K +              602
58         Unknown             1359
63         $120K +             1276

In [22]:
# Perform the Kruskal-Wallis test
statistic, p_value = kruskal(
    subset_data.loc[subset_data['Income_Category'] == 'Unknown', 'Total_Trans_Amt'],
    subset_data.loc[subset_data['Income_Category'] == 'Less than $40K', 'Total_Trans_Amt'],
    subset_data.loc[subset_data['Income_Category'] == '$40K - $60K', 'Total_Trans_Amt'],
    subset_data.loc[subset_data['Income_Category'] == '$60K - $80K', 'Total_Trans_Amt'],
    subset_data.loc[subset_data['Income_Category'] == '$80K - $120K', 'Total_Trans_Amt'],
    subset_data.loc[subset_data['Income_Category'] == '$120K +', 'Total_Trans_Amt']
)

In [23]:
# Print the results
print(f"Kruskal-Wallis statistic: {statistic}")
print(f"P-value: {p_value}")

Kruskal-Wallis statistic: 69.9980814486344
P-value: 1.0257333457414668e-13

In [24]:
# Interpret the results
alpha = 0.05
if p_value < alpha:
    print("The null hypothesis is rejected. There are significant differences in Total_Trans_Amt among income categories.")
else:
    print("The null hypothesis is not rejected. There are no significant differences in Total_Trans_Amt among income categories.")

The null hypothesis is rejected. There are significant differences in Total_Trans_Amt among income categories.

# Friedman Test

## Hypothesis

There are significant differences in "Credit_Limit" across different income categories ("Income_Category").

In [25]:
# Subset of the data for this example
subset_data = df[['Income_Category', 'Credit_Limit']]
print(subset_data)

      Income_Category  Credit_Limit
0         $60K - $80K       12691.0
1      Less than $40K        8256.0
2        $80K - $120K        3418.0
3      Less than $40K        3313.0
4         $60K - $80K        4716.0
...               ...           ...
10122     $40K - $60K        4003.0
10123     $40K - $60K        4277.0
10124  Less than $40K        5409.0
10125     $40K - $60K        5281.0
10126  Less than $40K       10388.0

[10127 rows x 2 columns]

In [26]:
# Define a common sample size
sample_size = min(subset_data['Income_Category'].value_counts())
print(sample_size)

727

In [27]:
# Create samples with equal size for each income category
samples = [subset_data.loc[subset_data['Income_Category'] == category, 'Credit_Limit'].sample(sample_size, random_state=42) for category in subset_data['Income_Category'].unique()]

In [28]:
# Perform the Friedman test
statistic, p_value = friedmanchisquare(*samples)

# Print the results
print(f"Friedman test statistic: {statistic}")
print(f"P-value: {p_value}")

Friedman test statistic: 1104.4576317968535
P-value: 1.4480849133573859e-236

In [29]:
# Interpret the results
alpha = 0.05
if p_value < alpha:
    print("The null hypothesis is rejected. There are significant differences in Credit_Limit across different income categories.")
else:
    print("The null hypothesis is not rejected. There are no significant differences in Credit_Limit across different income categories.")

The null hypothesis is rejected. There are significant differences in Credit_Limit across different income categories.